* {
	margin: 0;
	padding: 0;
}

section {
	width: 70vw;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}


nav {
	position: fixed;
	width: 100vw;
	height: 60px;
	background-color: black;
	top:0;
	left:0;
	z-index: 9999;
}

section.header {
	position: relative;
	color: white;
	width: calc(70vw - 60px);
	height: 900px;
	margin-left: auto;
	margin-right: auto;

	padding-left: 60px;
	padding-top: 0px;
}

section.header .ribbon {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 80px;
	background-color: green;
}

section.header .menu {
	position: relative;
	width: 60px;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	background-color: yellow;
}

/* table */
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 10px;
}

thead {
	background-color: gray;
}

thead tr th {
	color: white;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: gray;
}

thead tr th:nth-child(4) {
	text-align: right;
}

tbody tr td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(2n) td {
	background-color: aliceblue;
}

tbody tr td:nth-child(4) {
	text-align: right;
}

tfoot tr th {
	color: green;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

tbody tr:hover td {
	background-color: #333 !important;
	color: white;
}


tbody tr:hover td {
	background-color: blue !important;
	color: white;
}